body {
    font-family: Tahoma, sans-serif;
    font-size: clamp(24px, 1vw, 50px);
}

#main {
    margin-left: 18vmin;
}

header, footer {
    background-color: #ccc;
    text-align: center;
    padding: 0.5em;
}

footer {
    position: relative;
    width: 99%;
    bottom: 0;
}

h1 {
    font-size: clamp(3rem, 10vw, 6rem);
    font-family: cursive, Times, sans-serif;
    margin: 5px;
    margin-top: 0px;
}

h2 {
    margin-bottom: 0.3em;
    font-family: cursive, Times, sans-serif;
    font-weight: 1000;
    font-size: clamp(24px, 1.9vw, 5rem)
}

p {
    margin: 5px;
}

hr {
    width: 100%;
    border: 1px solid #000;
}

.sidenav {
    height: 100%;
    width: 18vmin;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #333;
    padding-top: 1.9vmin;
  }
  
.sidenav a {
    padding: 0.56vmin 0.74vmin 0.56vmin 1.48vmin;
    text-decoration: none;
    font-size: 2.2vmin;
    color: #818181;
    display: block;
}

.container {
    width: clamp(600px, 30vmin, 1000px);
    height: clamp(1000px, 69vmin, 1900px);
    background-color: #aaa;
    margin: 1.4vmin;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    padding: 2vw;
    border: 0.5em ridge;
    align-self: stretch;
}

img {
    width: 100%;
    height: clamp(600px, 30vmin, 1000px);
    object-fit: cover;
}

.centerme {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

.d-flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (orientation: portrait) {
    body {
        font-size: clamp(16px, 1vw, 45px);
    }
    
    img {
        height: 90vmin;
    }

    .container {
        height: fit-content;
    }
}