body {
    font-family: Tahoma, sans-serif;
    font-size: clamp(12px, 1vw, 3rem);
}

#main {
    margin-left: 18vmin;
}

header {
    background-color: #ccc;
    text-align: center;
    padding: 0.5em;
}

h1 {
    font-size: clamp(3rem, 10vw, 6rem);
    font-family: cursive, Times, sans-serif;
    margin: 5px;
    margin-top: 0px;
}

p {
    margin: 5px;
}

.sidenav {
    height: 100%;
    width: 18vmin;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #333;
    padding-top: 1.9vmin;
  }
  
.sidenav a {
    padding: 0.56vmin 0.74vmin 0.56vmin 1.48vmin;
    text-decoration: none;
    font-size: 2.2vmin;
    color: #818181;
    display: block;
}

.container {
    width: clamp(500px, 24vmin, 600px);
    height: 1000px;
    background-color: #aaa;
    margin: 1.4vmin;
    display: flex;
    justify-content: center;
    flex-grow: 0;
}

img {
    width: 75%
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

.d-flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}